$highlight-color: hsl(192, 70%, 40%);
$attention-color: hsl(43, 100%, 38%);
$tip-color: hsl(119, 19%, 43%);
$section-title-background: hsla(201, 100%, 14%, 0.15);
$section-within-section-title-background: hsla(201, 100%, 14%, 0.07);

:root {
  --highlight-color: #{$highlight-color};
  --attention-color: #{$attention-color};
  --tip-color: #{$tip-color};
  --section-title-background: #{$section-title-background};
  --section-within-section-title-background: #{$section-within-section-title-background};
}

.night_mode {
  --highlight-color: #{adjust-color($highlight-color, $lightness: 5%)};
  --attention-color: #{adjust-color($attention-color, $lightness: 5%)};
  --tip-color: #{adjust-color($tip-color, $lightness: 5%)};
  --section-title-background: hsl(201, 100%, 18%);
  --section-within-section-title-background: hsl(201, 100%, 13%);
}

/**
  Font faces
  -----------------------------------------------
**/
@font-face {
  font-family: SourceHanSans;
  src: url("_SourceHanSansJP-VF.ttf");
  font-weight: 450;
}

@font-face {
  font-family: textbook;
  src: url("_ud.ttf");
  unicode-range: U+3040-30FF, U+4E00-9FFF, U+3400-4DBF;
}

@font-face {
  font-family: stroke;
  src: url("_stroke.ttf");
}

@font-face {
  font-family: Parisine;
  src: url("_Parisine-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Parisine;
  src: url("_Parisine-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Parisine;
  src: url("_Parisine-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Parisine;
  src: url("_Parisine-Bold-Italic.ttf");
  font-weight: bold;
  font-style: italic;
}

/**
  Buttons
  -----------------------------------------------
**/

.button {
  border-radius: 0.5em;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  font-weight: normal;
}

.svg-button {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 100%;

  &.small {
    border: none;
    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    max-width: 22px;
    max-height: 22px;
  }

  /** increase the clickable area of the button **/
  &::before {
    content: "";
    position: absolute;
    height: 150%;
    width: 150%;
    border-radius: 100%;
  }
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: rgba(200, 200, 200, 0.5);
  }
}

.button:active {
  background: rgba(200, 200, 200, 0.5);
}

@media (hover: hover) and (pointer: fine) {
  .night_mode .button:hover {
    background: rgba(100, 100, 100, 0.5);
  }
}

.night_mode .button {
  &:active {
    background: rgba(100, 100, 100, 0.5);
  }

  border-color: white;
}

.svg-button {
  svg {
    width: 18px;
    height: 18px;
  }

  &.small svg {
    width: 14px;
    height: 14px;
  }
}

.night_mode svg {
  fill: white;
}

/**
  Card items
  -----------------------------------------------
**/

.card {
  font-family: "Parisine", "SourceHanSans";
  font-size: 35px;
  text-align: center;
  background-color: white;
  width: 96%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.rank {
  position: absolute;
  font-size: 45%;
  right: 0.5em;
  top: 0.5em;

  &[data-content="X"] {
    display: none;
  }

  &::before {
    content: "#";
  }
}

.audio {
  margin: 0.3em;
}

.pos {
  font-size: 50%;
  font-weight: bold;
  color: gray;
  text-decoration: dotted underline;
  -webkit-text-decoration: dotted underline;
  cursor: help;

  &.expanded {
    font-size: 40%;
    padding-top: 0.4em;
    font-weight: normal;
    text-decoration: none;
    display: block;
    cursor: auto;
  }
}

#conjugation {
  margin-top: 0.75em;
  font-size: 40%;
}

#origin {
  margin-top: 0.75em;
  font-size: 50%;
  opacity: 70%;
  
  &::before {
    content: "⤴";
    display: inline-block;
    transform: scaleX(-1) translateY(-0.25em);
    margin-right: 0.3em;
    font-family: monospace;
  }
}

.definition {
  font-weight: bold;
  font-size: 95%;
}

.pre-suffix {
  opacity: 40%;
  font-weight: 400;
}

.grammar {
  opacity: 60%;
  font-weight: 400;
  font-size: 60%;
  font-style: normal;
}

#lemma {
  font-family: textbook, 'SourceHanSans';
  font-size: 140%;
}

#extra {
  font-size: 60%;
  opacity: 80%;
}

#alternative {
  margin-top: 0.2em;
  font-size: 55%;
  opacity: 60%;
}

span.no-break {
  display: inline-block;
}

.disamb {
  font-style: normal;
  font-size: 80%;
  opacity: 60%;
  font-weight: 400;

  &::before {
    content: "";
    display: block;
  }
}

.front .disamb {
  display: none;
}

#register {
  font-size: 40%;
  background: #eee;
  padding: 0.3em;
  border-radius: 1em;
}

.night_mode #register {
  background: transparent;
  border: 1px solid #eee;
}

.jp {
  font-family: "SourceHanSans";
  line-height: 1.6em;
}

.de {
  font-family: "Parisine";
}

.spoiler {
  transition: all 0.2s;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border-radius: 0.2em;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  &:not(.clicked) {
    color: transparent;
    background: #eee;
    > * {
      opacity: 0;
      transition: all 0.2s;
    }
  }
}

.night_mode .spoiler:not(.clicked) {
  color: transparent;
  background: #333;
  > * {
    opacity: 0;
  }
}

.spoiler:not(.clicked) .svg-button {
  opacity: 0;
  pointer-events: none;
}

span.spoiler {
  padding-top: 0.15em;
  padding-bottom: 0.15em;
}

.sentence-with-audio .svg-button {
  display: inline-flex;
  margin-right: 0.1em;
  align-items: center;
}

a {
  text-decoration: none;
  color: #1d4ed8;
}

.night_mode a {
  color: #bfdbfe;
}

.github {
  font-size: 12px;
  text-align: center;

  a::before {
    content: "\2665\fe0e";
    font-size: 90%;
    margin-right: 0.2em;
    font-family: monospace;
  }
}

.section .github {
  text-align: right;
  a::before {
    content: "" !important;
  }
}

hr {
  width: 100%;
}

/**
  Box
  -----------------------------------------------
**/

.box {
  margin-top: 1.5em;
  position: relative;
  font-size: 40%;
  border: 1px solid gray;
  border-radius: 14px;
  padding: 10px;
  text-align: left;
  line-height: 1.5em;
}

.note > *:not(.section-title) + *:not(.section-title) {
  margin-top: 0.5em;
}

.box:not(:last-of-type) {
  margin-bottom: 3em;
}

.box_float {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  transform: translateY(-120%);
  font-size: 85%;
  user-select: none;
  -webkit-user-select: none;

  .svg-button {
    margin-left: 0.3em;
  }
}

#sentences {
  border-width: 3px;
  padding: 12px;
  font-size: 55%;
}

#sentences_inner .de {
  line-height: 1.35em;
  font-size: 90%;
  margin-top: 0.15em;
}

#single_sentence {
  margin-top: 2em;
  font-size: 55%;
}

.box {
  p {
    margin: 0;
  }

  ul {
    margin: 0;
    padding-inline-start: 1.5em;
    list-style-type: square;
  }

  li:not(:first-child) {
    margin-top: 0.75em;
  }

  .examples {
    padding-left: 1em;
  }
}

b, i, u {
  line-height: 100%;
}

u {
  text-decoration: none;
  color: $highlight-color;
}

.box {
  .examples {
    &:not(:last-child) {
      margin-bottom: 0.75em;
    }

    .jp:not(:first-child) {
      margin-top: 0.5em;
    }
  }

  h3:not(:first-child) {
    margin: 0;
    margin-top: 0.75em;
  }

  .section {
    margin: 0 !important;

    .section {
      .section-title {
        font-size: 100%;
        background: var(--section-within-section-title-background);
      }
    }

    &.expanded > .section-title:after {
      content: "\2212";
    }
  }

  .section-title {
    font-weight: bold;
    font-size: 120%;
    background: var(--section-title-background);
    margin: 0 -10px;
    padding: 0.2em 10px;
    cursor: pointer;
    transition: opacity 0.2s;

    &:active {
      opacity: 0.7;
    }
    &:after {
      content: "\002B";
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
  }

  .section-content {
    margin: 0 -10px;
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: grid;
    gap: 0.5em;

    > *:first-child {
      margin-top: 1em !important;
    }

    > *:last-child {
      margin-bottom: 1.5em !important;
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .box .section-title:hover {
    opacity: 0.7;
  }
}


@mixin shared-styles($css-color, $scss-color, $icon-url) {
  $background: rgba($scss-color, 0.15);

  color: $css-color;
  border-color: $css-color;
  background: $background;

  svg {
    fill: $css-color;
  }

  .spoiler:not(.clicked) {
    background: $background !important;
  }

  &::before {
    content: url($icon-url);
  }
}

.attention,
.tip,
.highlight {
  position: relative;
  border-radius: 0.4em;
  padding: 0.5em;
  border-left: 2px solid black;
  padding-left: calc(0.5em + 36px);
  min-height: 32px;

  u {
    color: #d92626;
  }

  &::before {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-35px);
    height: 30px;
    width: 30px;
  }
}

.highlight {
  @include shared-styles(
    var(--highlight-color),
    $highlight-color,
    "data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 48 48' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3Einformation-circle%3C/title%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='invisible_box' data-name='invisible box'%3E%3Crect width='48' height='48' fill='none'/%3E%3C/g%3E%3Cg fill='rgb(#{red($highlight-color)},#{green($highlight-color)},#{blue($highlight-color)})' id='icons_Q2' data-name='icons Q2'%3E%3Cpath d='M24,2A22,22,0,1,0,46,24,21.9,21.9,0,0,0,24,2Zm0,40A18,18,0,1,1,42,24,18.1,18.1,0,0,1,24,42Z'/%3E%3Cpath d='M24,20a2,2,0,0,0-2,2V34a2,2,0,0,0,4,0V22A2,2,0,0,0,24,20Z'/%3E%3Ccircle cx='24' cy='14' r='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"
  );
}

.attention {
  @include shared-styles(
    var(--attention-color),
    $attention-color,
    "data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.75 2.44995C11.45 1.85995 12.58 1.85995 13.26 2.44995L14.84 3.79995C15.14 4.04995 15.71 4.25995 16.11 4.25995H17.81C18.87 4.25995 19.74 5.12995 19.74 6.18995V7.88995C19.74 8.28995 19.95 8.84995 20.2 9.14995L21.55 10.7299C22.14 11.4299 22.14 12.5599 21.55 13.2399L20.2 14.8199C19.95 15.1199 19.74 15.6799 19.74 16.0799V17.7799C19.74 18.8399 18.87 19.7099 17.81 19.7099H16.11C15.71 19.7099 15.15 19.9199 14.85 20.1699L13.27 21.5199C12.57 22.1099 11.44 22.1099 10.76 21.5199L9.18001 20.1699C8.88001 19.9199 8.31 19.7099 7.92 19.7099H6.17C5.11 19.7099 4.24 18.8399 4.24 17.7799V16.0699C4.24 15.6799 4.04 15.1099 3.79 14.8199L2.44 13.2299C1.86 12.5399 1.86 11.4199 2.44 10.7299L3.79 9.13995C4.04 8.83995 4.24 8.27995 4.24 7.88995V6.19995C4.24 5.13995 5.11 4.26995 6.17 4.26995H7.9C8.3 4.26995 8.86 4.05995 9.16 3.80995L10.75 2.44995Z' stroke='rgb(#{red($attention-color)},#{green($attention-color)},#{blue($attention-color)})' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 8.13V12.96' stroke='rgb(#{red($attention-color)},#{green($attention-color)},#{blue($attention-color)})' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.9945 16H12.0035' stroke='rgb(#{red($attention-color)},#{green($attention-color)},#{blue($attention-color)})' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"
  );
}

.tip {
  @include shared-styles(
    var(--tip-color),
    $tip-color,
    "data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='2 2 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 10V11.5M12 14H12.01M10 16.584V18.9996C10 20.1042 10.8954 20.9996 12 20.9996C13.1046 20.9996 14 20.1042 14 18.9996L14 16.584M12 3V4M18.3643 5.63574L17.6572 6.34285M5.63574 5.63574L6.34285 6.34285M4 12H3M21 12H20M17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z' stroke='rgb(#{red($tip-color)},#{green($tip-color)},#{blue($tip-color)})' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"
  );
}


.note {
  margin: auto;
  margin-top: 2em;
  font-size: 45%;
  border: 1px solid gray;
  border-radius: 14px;
  padding: 10px;
  text-align: left;
}

/**
  Furigana
  -----------------------------------------------
**/

.furigana {
  font-size: 55%;
  margin-bottom: 0.1em;
  font-family: textbook;

  > span {
    height: 1.1em;
    display: inline-block;
  }

  span.accent_plain {
    padding-top: 0.075em;
    border-top: solid 0.075em;
  }

  span:not(.accent_plain) + span.accent_plain,
  span:not(.accent_plain) + span.accent_top {
    border-left: solid #777 0.075em;
    border-top-left-radius: 0.25em;
  }

  span.accent_top {
    padding-top: 0.075em;
    border-top: solid #777 0.075em;
    border-right: solid #777 0.075em;
    border-top-right-radius: 0.25em;
  }
}

.night_mode .furigana {
  span {
    border-color: #aaa !important;
  }
}

.spoiler:not(.clicked) ruby {
  pointer-events: none;
}

ruby {
  display: inline-block;
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

span.rb {
  display: inline-block;
}

span.rt {
  font-size: 0.5em;
  position: absolute;
  display: block;
  top: -1.5em;
  white-space: nowrap;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.2s;
  user-select: none;
  pointer-events: none;
  opacity: 0;
}


.show-furigana .rt {
  opacity: 100%;
}

/**
  Kanji
  -----------------------------------------------
**/

#kanji_table {
  max-width: 300px;
  transition: max-width 0.2s;

  &:has(.kanji_char.large) {
    max-width: 400px;
  }
}

.kanji_entry {
  display: flex;
  align-items: center;
  gap: 1em;

  .kanji_char {
    font-size: 80px;
    line-height: 80px;
    transition: all 0.2s;
    font-family: stroke;
    cursor: pointer;

    &.large {
      font-size: 180px;
      line-height: 180px;
    }
  }

  .kanji_meanings {
    font-style: italic;
    line-height: 125%;
  }

  .kanji_readings {
    margin-top: 0.3em;
  }

  .kanji_readings_on::before,
  .kanji_readings_kun::before {
    margin-right: 0.25em;
    border: 1px solid #999;
    color: #444;
    border-radius: 100%;
    width: 1.25em;
    height: 1.25em;
    display: inline-flex;
    font-size: 85%;
    align-items: center;
    justify-content: center;
    vertical-align: text-bottom;
  }

  .kanji_readings_on::before {
    content: "音";
  }

  .kanji_readings_kun::before {
    content: "訓";
  }

  .no_readings {
    opacity: 35%;
  }

  .chinese_reading {
    padding-left: 0.5em;
    opacity: 50%;
    font-size: 70%;
    vertical-align: middle;
  }

  .chinese_reading::before {
    content: "⤳";
  }
}

.night_mode .kanji_readings_on::before,
.night_mode .kanji_readings_kun::before {
  border-color: #aaa;
  color: #ddd;
}

/**
  Dictionary
  -----------------------------------------------
**/

.dict {
  padding-left: 26px;
  text-indent: -18px;

  .exd {
  }
  .expl {
    color: #076;
  }
  .field {
    font-variant: small-caps; /*	color: #903; */
  }
  .footer {
    margin-left: 0px;
  }
  .gws {
    display: none;
  }
  .header {
    position: relative;
    top: 25;
  }
  .hom {
  }
  .Hinshi {
    font-style: italic;
  }
  .lemma {
  }
  .lemmaj {
  }
  .list {
    padding: 0px;
    margin: 0px;
    margin-bottom: -23px;
  }
  .Nihongo {
  }
  .Romaji {
    font-style: italic;
  }
  .search {
  }
  .sense {
    /*  color: #6C0; */
    color: #c30;
  }
  .shadow {
    box-shadow: 4px 3px 6px #aaa;
  }
  .src {
    color: #076;
    font-size: 80%;
  }
  .subsense {
    font-style: normal;
    font-weight: normal;
  }
  .tblresult {
    border-spacing: 0;
    padding-left: 4px;
    padding-right: 30px;
    padding-top: 1px;
    padding-bottom: 2px;
    color: #006;
  }
  .tblresultheader {
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #666;
  }
  .xr {
  }
  .tblwb {
    width: 900px;
    color: #00ff99;
    border: 0px;
    border-spacing: 0px;
    padding: 0px;
  }
  sup {
    line-height: 0;
  }
}
